body{
display: flex;
flex-direction: column;
margin: 0;
padding: 0;

}

.Header {
color: white;
background-color:  #1f2937;
display: flex;
justify-content: center;
justify-content: space-between;
padding-left: 10%;
padding-right: 10%;
gap: 300px;
padding-bottom: 10px;
}

h2{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.classtwo>img{
    margin-top: 75px;  
}

brr{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
list-style-type: none;
display:flex;
gap: 40px;
justify-content: right;
}

a {color: white;
    text-decoration: none;  
}

.headtogether {
 display: flex;
 flex-direction: column;

}

.second{
    text-align: center;
    color: #1f2937;
}

.gallery{
    display: flex;
    justify-content: center;
    
    margin-bottom: 50px;
    gap: 30px;
}
 
.text{
    font-size: 18px;

    max-width: 200px;
}
.info>img{
    border: 5px solid #3882F6;
    border-radius: 10px;
}


.third{
    background-color: #E5E7EB;


    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 80px;
    padding-top: 55px;
}
.third>div{
    font-size: 25px;
    text-align: right;
    font-weight: bold;
    margin-top: 0;
   
}
.third>p{
    margin-bottom: 0;
}



.fourth{
display: flex;
justify-content: center;
align-items: center;
gap: 70px;
background-color: #3882F6;
width: 980px;
border-radius: 5px;
margin: 50px;
padding: 50px;
color: white;
align-self: center;

}
.fourth>.texttwo>div{
    font-size: 25px;
    font-weight: bold;   
}



.footer{
    text-align: center;
    margin-top: auto;
    background-color: #1F2937;
    color: white;
    font-size: 20px;
}
 .texttwo{
    line-height: 0.2;
 }

 button{
    border-radius: 5px;
    padding: 8px 32px;
    background-color: #3882F6;
    color: white;
    border-style:inherit;
 }

 .fourth>a>button{
    border: thin white;
    border-style: inset
 }

 .headtogether.p{
  
 }
 h3{
    font-size: 40px ;
 }